name: 'Deploy OpenTelemetry'
on:
  push:
    branches: main
    paths:
      - .github/workflows/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: otel-deploy-job
    steps:
      - uses: plengauer/Thoth/actions/instrument/deploy@ec01f0ca8363ea8650481c6a509ee481227b8a38
        with:
          github_token: '${{ secrets.DEPLOY_OBSERVABILITY_TOKEN }}' # TODO configure a token that has permissions to push contents and open pull requests
          job_level_instrumentation_secret_redaction_strategy: none
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: http://64.236.135.2:8080
